
  input {
    padding: 13px 20px 13px 46px;
    background-color: #f7f7f7;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      opacity: 0.6;
      /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      opacity: 0.6;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      opacity: 0.6;
    }
  }

  fa-icon {
    position: absolute;
    top: 12px;
    left: 16px;
    font-size: 1.2rem;
    color: #ea1d2c;
    z-index: 10;
  }
