<app-header-menu [options]="headerMenu">
  <div class="row">

    <div class="col-md-12 p-0">
      <header class="imagem-fundo">
        <img [src]="estabelecimento?.imagemFundo">
      </header>
    </div>

    <div class="col-md-12 detalhes-empresa mt-3 d-flex align-items-center">
      <div class="logo">
        <img [src]="estabelecimento?.imagemLogo">
      </div>
      <div class="nome-empresa">
        <span>{{ estabelecimento?.nome }}</span>
        <div>
          <span *ngIf="estabelecimento?.nota" class="icons">
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
            {{ estabelecimento?.nota }}
          </span>
          <span *ngIf="estabelecimento?.nota" class="icons">
            •
          </span>
          <span class="icons">
            {{ estabelecimento?.tipo }}
          </span>
        </div>
      </div>
    </div>

    <div *ngFor="let categoria of categorias" class="col-md-12 card-produto mt-5">

      <h1>{{ categoria?.categoria }}</h1>

      <drag-scroll (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)"
        drag-scroll-y-disabled="true" #nav>
        <div *ngFor="let produto of categoria?.produtos" class="produto" drag-scroll-item>
          <div>
            <img [src]="produto?.imagemFundo">
          </div>
          <div class="col-md-12 content-info p-2">
            <div class="size">
              <h1 class="truncate">{{ produto?.nome }}</h1>
              <div class="mt-1">
                <span class="descricao-prev truncate">{{ produto?.descricao }}</span>
              </div>

            </div>
            <div class="mt-2">
              <span class="valor">{{ produto?.price | currency:'BRL' }}</span>
            </div>
          </div>
        </div>
      </drag-scroll>

      <!-- <button *ngIf="!leftNavDisabled" (click)="moveLeft()" class="button-prev">
        <fa-icon [icon]="['fas', 'angle-left']" [fixedWidth]="true">&nbsp;</fa-icon>
      </button>

      <button *ngIf="!rightNavDisabled" (click)="moveRight()" class="button-next">
        <fa-icon [icon]="['fas', 'angle-right']" [fixedWidth]="true">&nbsp;</fa-icon>
      </button> -->

    </div>

  </div>
</app-header-menu>
